/*hay que dividir la hoja de estilos por 3 partes
    Encabezado , cuerpo y footer. Como ? con comentarios para identicarlos mas rapido*/

*{
    background-color: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu*/
ul#menu{
    list-style-type: none;
    padding: 0;
    margin:0;
    overflow: hidden;
    background-color: aliceblue;
}

li#menu_li{
    float: left;
} 
li#menu_li a{
    display: block;
    text-align: center; 
    text-decoration:none;
    padding:14px 16px;
}
                
li#menu_li a:hover {
    background-color:#cc9900;
    color: white;
    text-align:center;
    text-decoration:none; 
}

/*Flight box*/
#menu-diferente{
    width: 100%;
    height: 200px; 
    background-color: aliceblue;

}

#flight_box{
    margin-left: 25px;
    width: 700px;
    height: 200px; 
    background-color: lightskyblue;
    padding: 20px;
    display: flex;
    justify-content: center;
   
}

.columna{
    background-color: lightskyblue;
    padding: 10px;
}

input#calendario{
    background-color: lightblue;
    margin: 10px;
}

/*Ofertas*/    

/*.galeria{
    padding: 16px;
}    


.lista-imagenes img{
    width: 100%;
    object-fit: cover;
    width: 500px;
    height: 300px;
    display: block;
    margin: 10px;
}

.lista-imagenes{
    display: flex;
    overflow-y: auto;

}*/

.ofertas{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.destino{
    margin-right: 10px;
    position: relative;
}
 
.destino img{
    width: 320px;
    object-fit: cover;
    height: 400px;

}

.destino-descripcion{
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 320px;

}

.destino-descripcion h4, .destino-descripcion h6,
.destino-descripcion p {
    margin: 0;
}

/*hoteles*/
.hoteles{
    display: flex;
    overflow-y: auto;
    padding: 16px;
}

.cadena-hoteles{
    margin-right: 10px;
    position: relative;
}
 
.cadena-hoteles img{
    width: 100%;
    object-fit: cover;
    width: 500px;
    height: 300px;
    margin: 10px;
}

.hoteles-descripcion{
    position:absolute;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
    width: 520px;
}

.hoteles-descripcion h2 {
    margin: 0;
}


.ofertas_abajo{
    display: flex;
    overflow-y: auto;
}

/*Pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color:aliceblue;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.pie-pagina .grupo-1 .box figure img{
    width: 400px;
    margin: 0;
    padding: 0%;
}

.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    font-size: 14px;
}

.pie-pagina .grupo-1 .red-social .persona{
    display: block;
    align-items: center;
}

.pie-pagina .grupo-1 .red-social .icono{
    display: flex;
    align-items: center;
    bottom: 0;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social .persona{
    display: inline-flex;
    margin: 10px;
    align-items: center;
    bottom: 0;
}

.pie-pagina .grupo-1 .red-social  a{
    bottom: 0;
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    align-items: center;
}


 